@import url('foundation-icons.css');

div.fixed{
    left: auto !important;
    margin-left: -10px;
}

#home {
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

#home .row {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #333333;
    
}

#home .row .summary {
    font-size: larger;
}

#home .row h2 {
 padding-left:15px;  
 padding-bottom: 8px;
}

.footer {
  background: #333333;
  padding-top: 15px;
}

.footer .columns {
  border-right: 1px solid white;
  border-left: 1px solid white;
}

h1 {
  font-weight: 700;
}

.footer .columns h5{
  text-align: center;
}

.wrapper .top-bar {
  height: 4em;
}

.wrapper .title-area {
  padding-top: 9px;
}

.wrapper .top-bar-section h4 {
  color: white;;
  padding-top: 12px;
  margin-bottom: 0px;
  padding-bottom: 13px;
}

.wrapper .top-bar-section a {
 color: white;
}

div.wrapper { 
  background: url('/assets/img/gplaypattern.png'); 
  background: repeat;
} 

#content {
  background: white;
}

* {
  margin: 0;
}
html, body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}
.footer, .push {
  height: 4em;
}

