<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/foundation.css" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/syntax.css">
    
    <script src="/js/modernizr.js"></script>
  </head>
  <body>
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1><a href="#">
          </li>
      </nav>

      <div class="row">
        <div class="large-12 columns">
          {{ content }}
        </div>
      </div>

      <div class="footer">
        <div class="contact">
          <p>
            Your Name<br />
            What You Are<br />
            you@example.com
          </p>
        </div>
        <div class="contact">
          <p>
            <a href="https://github.com/yourusername">github.com/yourusername</a><br />
            <a href="https://twitter.com/yourusername">twitter.com/yourusername</a><br />
          </p>
        </div>
      </div>
    </div>
    
    <script src="/js/jquery.js"></script>
    <script src="/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>

  </body>
</html>
