<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/assets/css/foundation.css" />
    <link rel="stylesheet" href="/assets/css/syntax.css" />
    <link rel="stylesheet" href="/assets/css/custom.css" /> 
    <script src="/assets/js/modernizr.js"></script>
  </head>
  <body>
    <div class="wrapper" style="background: url('/assets/img/gplaypattern.png');">
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <a href="#"><img src="/assets/img/name.svg" alt="Nathan Hahn" style="height:100%; padding-left: 10px;"/></a>
          </li>
        </ul>
        <section class="top-bar-section">
             <!-- Right Nav Section -->
          <ul class="right">
            <li><a href="#"><h4>Portfolio</h4></a></li>
            <li><a href="/resume.html"><h4>Resume</h4></a></li>
            <li><a href="/about.html"><h4>About Me</h4></a></li>
          </ul>
        </section> 
      </nav>

      <div class="row">
        <div class="large-12 columns" id="content">
          {{ content }}
        </div>
      </div>
      <div class="push"></div>
    </div>

    <div class="footer">
      <div class="row property">
        <div class="medium-2 columns">
          <h5><a href="mailto:nphahn@gmail.com?subject=Portfolio"><i class="fi-mail"></i> Email</a></h5>
        </div>
        <div class="medium-2 columns">
          <h5><a href="http://lnkd.in/dYSpr9N"><i class="fi-social-linkedin"></i> LinkdIn</a></h5>
        </div>
        <div class="medium-2 columns">
          <h5><a href="https://github.com/nhahn"><i class="fi-social-github"></i> Github</a></h5>
        </div>
        <div class="medium-3 large-offset-3 columns">
          <h5><a href="http://nathanhahn.wordpress.com">Design Blog</a></h5>
        </div>
      </div>
    </div>
  </div>
    
  <script src="/assets/js/jquery.js"></script>
  <script src="/assets/js/foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>

  </body>
</html>
